@import "../../../common/scss/common.scss";

article {
  width: 100%;
  min-width: 1200px;
  @include clearfix;
  // height:100%;
  // height:calc(100% - 61px);
  height: 969px;
  min-height: calc(100%-61px);
  position:relative;
  .left {
    float: left;
    width: 30%;
    background: url("../../common/img/lrLeftBg.png");
    background-repeat: repeat;
    height:100%;
    .header {
      height: 50px;
      background: rgb(55, 157, 107);
      padding-left:60%;
      h2 {
        color: #fff;
        font-size: 20px;
        line-height: 50px;
      }
    }
    .navList {
      ul {
        padding-left:60%;
        margin-top:40px;
        li {
          margin: 30px 0;
          cursor: pointer;
        }
        li.active {
          color: rgb(55, 157, 107);
        }
      }
    }
  }
  .right {
    float: left;
    width: 70%;
    height:100%;
    .header {
      height: 50px;
      background: rgb(234, 234, 234);
      div {
        color: #3a3a3a;
        font-size: 15px;
        line-height: 50px;
        text-align: center;
        a{
          color:#3a3a3a;
        }
      }
    }

    .content-wrapper {
      height:calc(100% - 50px);
      position: relative;
      overflow-y: hidden;

    }
    .humanResource{
      .humanResource-title{
        margin: 15px 0;
        font-size: 20px;
        color: rgb(202, 63, 0);
        font-weight: bold;
      }
      .humanResource-list{
        margin-bottom: 30px;
      }
      li{
        font-size: 16px;
        line-height: 30px;
      }
    }
    .trainAndDevelop{
      ul{
        li{
          display: inline-block;
          text-align: center;
          width: 20%;
          height: 100px;
          background: #8282d6;
          color: white;
          box-sizing: border-box;
          padding-top: 40px;
          border-radius: 5px;
          box-shadow: 3.8px 1px 1px darkgrey;
          span{
            display: inline-block;
          }        
          &:hover{
            span{
              animation:fontUp .9s linear;
            }
            
          }
          @keyframes fontUp {
            from{
              transform: translateY(60px);
              opacity: 0;
            }
            to{
              transform: translateY(0px);
              opacity: 1;
            }
          }
        }
        .iconfont{
          display: inline-block;
          font-size: 35px;
          vertical-align: top;
          color: #379d6b;
          margin-top: 36px;
        }
      }
      .arrow{
        width: 100%;
        span{
          display: inline-block;
          width: 20%;
          margin-right: 5%;
          text-align: center;
          .iconfont{
            display: inline-block;
            font-size: 35px;
            vertical-align: top;
            color: #379d6b;
            margin-top: 5px;
          }
        }
      }
    }
    section {
      width: 900px;
      padding-left:90px;
      margin-bottom: 50px;
      .anchor {
        font-size: 21px;
        font-weight: normal;
        line-height: 50px;
        margin-left: 10px;
        border-bottom: 1px solid #379e6b;
      }
      .introduce{
        font-size: 17px;
        line-height: 32px;
        margin-top: 20px;
      }
      .title {
        font-size: 18px;
        color: #379e6b;
        margin: 30px 0;
      }
      .method{
        li{
          h4{
            display: inline-block;
            font-weight: lighter;
            color: black;
          }
        }
      }
      span {
        font-size: 15px;
      }
      ul.lists {
        margin: 50px 0;
        li {
          margin: 20px 0;
          h4 {
            font-size: 18px;
            color: #ca3f00;
            margin: 10px 0;
          }
        }
      }
      h5 {
        color: #ca3f00;
        font-size: 16px;
        margin: 10px 0;
      }
      ul {
        li {
          margin: 10px 0;
        }
      }
    }
  }

}