@import "../../../common/scss/common.scss";

article {
  width: 100%;
  min-width: 1200px;
  @include clearfix;

  // height:100%;
  // height:calc(100% - 61px);
  height: 969px;
  min-height: calc(100% - 61px);
  position:relative;
  .left {
    float: left;
    width: 30%;
    background: url("../../common/img/lrLeftBg.png");
    background-repeat: repeat;
    height: 100%;
    .header {
      height: 50px;
      background: rgb(55, 157, 107);
      padding-left: 50%;
      h2 {
        color: #fff;
        font-size: 20px;
        line-height: 50px;
      }
    }
    .navList {
      ul {
        padding-left: 50%;
        margin-top: 40px;
        li {
          margin: 30px 0;
          cursor: pointer;
          .iconfont{
            display: inline-block;
            transition: transform .5s ease-in;
            transform: rotate(0deg);
          }
          .downList{
            overflow: hidden;
            height: 0;
            opacity: 0;
            transition: height .5s ease-in , opacity .5s ease-in;
            line-height: 23px;
            font-size: 15px;
            margin-left: 16px;
            color: black;
          }
        }
        li.active {
          color: rgb(55, 157, 107);
          .iconfont{
            transform: rotate(90deg);
          }
        }
      }
    }
  }
  .right {
    float: left;
    width: 70%;
    height: 100%;
    .header {
      height: 50px;
      background: rgb(234, 234, 234);
      div {
        color: #3a3a3a;
        font-size: 15px;
        line-height: 50px;
        text-align: right;
        margin-right: 50px;
        a {
          color: #3a3a3a;
        }
      }
    }

    .content-wrapper {
      height: calc(100% - 50px);
      position: relative;
      overflow-y: hidden;

    }
    .humanResource{
      .humanResource-title{
        margin: 15px 0;
        font-size: 20px;
        color: rgb(202, 63, 0);
        font-weight: bold;
      }
      .humanResource-list{
        margin-bottom: 30px;
      }
      li{
        font-size: 16px;
        line-height: 30px;
      }
    }
    .trainAndDevelop{
      .profile{
        p{
          line-height: 35px;
          color: slategrey;
        }
        ul{
          li{
            .iconfont{
              color: #379d6b;
            }
            span{

            }
          }
        }
      }
      .item{
        margin-top: 30px;
        li{
          display: inline-block;
          text-align: center;
          width: 20%;
          height: 100px;
          background: #8282d6;
          color: white;
          box-sizing: border-box;
          padding-top: 40px;
          border-radius: 5px;
          box-shadow: 3.8px 1px 1px darkgrey;
          span{
            display: inline-block;
          }        
          &:hover{
            span{
              animation:fontUp .9s linear;
            }
            
          }
          @keyframes fontUp {
            from{
              transform: translateY(60px);
              opacity: 0;
            }
            to{
              transform: translateY(0px);
              opacity: 1;
            }
          }
        }
        .iconfont{
          display: inline-block;
          font-size: 35px;
          vertical-align: top;
          color: #379d6b;
          margin-top: 36px;
        }
      }
      .arrow{
        width: 100%;
        span{
          display: inline-block;
          width: 20%;
          margin-right: 5%;
          text-align: center;
          .iconfont{
            display: inline-block;
            font-size: 35px;
            vertical-align: top;
            color: #379d6b;
            margin-top: 5px;
          }
        }
      }
      .content{
        width: 100%;
        li{
          display: inline-block;
          vertical-align: top;
          text-align: center;
          width: 21%;
          margin-right: 4%;
          line-height: 28px;
          color: slategrey;
        }
      }
    }
    section {
      width: 900px;
      padding-left: 90px;
      margin-bottom: 150px;
      .anchor {
        font-size: 21px;
        font-weight: normal;
        line-height: 50px;
        border-bottom: 1px solid #379e6b;
      }
      .introduce{
        font-size: 17px;
        line-height: 32px;
        margin-top: 20px;
      }
      .title {
        font-size: 18px;
        color: #379e6b;
        margin: 30px 0;
      }
      .method{
        li{
          h4{
            display: inline-block;
            font-weight: lighter;
            color: black;
          }
        }
      }
      span {
        font-size: 15px;
      }
      ul.lists {
        margin: 50px 0;
        li {
          margin: 30px 55px 0;
          position: relative;
          i {
            position: absolute;
            top: 5px;
            left: -57px;
            font-size: 34px;
            color: #ca3f00;
          }
          h4 {
            font-size: 18px;
            color: #ca3f00;
            margin: 10px 0;
          }
        }
      }
      ul.searcher-list {
        li {
          margin: 15px 0;
        }
      }
      h5 {
        color: #ca3f00;
        font-size: 16px;
        margin: 10px 0;
      }
    }
  }

}

section {
  ul.healthy-intro {
    margin: 30px 0;
    @include clearfix;
    li {
      float: left;
    }
    li.icon-right {
      color: #379d6b;
      font-size: 35px;
      margin: 10px 5px;
    }
    li.healthy-border {
      width: 150px;
      height: 50px;
      background: #379d6b;
      //border:3px solid #379d6b ;
      padding: 10px;
      margin: 10px 5px;
      span {
        display: inline-block;
        width: 130px;
        height: 30px;
        color: #fff;
        line-height: 30px;
        text-align: center;
        border: 1px solid #fff;
      }
    }
  }
}

section {
  .train-lists {
    li {
      width: 207px;
      height: 68px;
      background: url("../../common/img/trainBg.jpg") no-repeat;
      .train-left, .train-right {
        display: inline-block;
        font-size: 22px;
        line-height: 68px;
        margin-left: 20px;
      }
      .train-left {
        color: #fff;
      }
      .train-right {
        color: #d65421;
        float: right;
        margin-right: 12px;
      }
    }
  }
}

//管理者领导能力
section {
  .managerActiveLeader-lists {
    margin-top: 80px;
    @include clearfix;
    .pic {
      float: left;
      margin: 30px 20px;
      width: 103px;
      //float:left;
      span {
        display: block;
        text-align: center;
      }
    }
  }
}

//全员心理资本提升培训
section {
  .train-lists {
    margin-top:40px;
    @include clearfix;
    li {
      float: left;
      margin: 30px 30px;
    }
  }
}

section {
  .PsychologyCrisisTitle {
    margin: 30px 0;
  }
  .PsychologyCrisis {
    @include clearfix;
    li {
      width: 150px;
      float: left;
      margin: 30px 52px 30px 0;
      span.train-right {
        display: block;
        text-align: center;
      }
    }
  }
}

section.employeeDevelop {

  .lists-container {
    margin-top:80px;
    @include clearfix;
    ul {
      float: left;
      li {
        width: 150px;
        height: 46px;
        border: 1px solid #379d6b;
        margin: 30px 30px 30px 0;
        line-height: 46px;
        text-align: center;
        color: #626262;

      }
      li:first-child {
        background: #379d6b;
        color: #fff;
      }
    }
  }

}

