@import "../../common/scss/hotel-header.scss";
//轮播图样式
.swiper-container {
  width: 1200px;
  overflow-x: hidden;
  height:400px;
  margin-top:120px;
  .banner-one, .banner-two, .banner-three {
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .banner-one {
    background-image: url("../../common/img/banner-img1.jpg");
  }
  .banner-two {
    background-image: url("../../common/img/banner-img2.jpg");
  }
  .banner-three {
    background-image: url("../../common/img/banner-img3.jpg");
  }

  .banner-one,.banner-two,.banner-three{
  }
}
//联系样式
section.contact{
  width: 1200px;
  margin:80px auto;
  @include clearfix;
  //左侧样式
  .left{
    width: 260px;
    float:left;
    h3{
     margin:15px 0;
    }
    ul{
      li{
        display: block;
        @include clearfix;
        margin-top:20px;
        span.icon{
          float:left;
          display: inline-block;
          width: 60px;
          height: 70px;
          font-size:40px;
        };
        span.item{
          display: inline-block;
          margin:7px 0;
        }
      }
    }
  }
  //右侧样式
  .right{
    width: 700px;
    height: 480px;
    margin-left:100px;
    float:right;
    #mapContainer{
      margin:0;
      height:100%;
      width:100%;
      font-size:12px;
    }
  }
}