@font-face {
  font-family: 'iconfont';  /* project id 359582 */
  src: url('http://at.alicdn.com/t/font_nmum95vds6mvx6r.eot');
  src: url('http://at.alicdn.com/t/font_nmum95vds6mvx6r.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_nmum95vds6mvx6r.woff') format('woff'),
  url('http://at.alicdn.com/t/font_nmum95vds6mvx6r.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_nmum95vds6mvx6r.svg#iconfont') format('svg');
}
.iconfont{
  font-family:iconfont;
  font-style:normal;
}

*{
  padding: 0;
  margin: 0;
}
html,body{
  width: 100%;
  height: 100%;
  font-family: '微软雅黑';
  min-width: 1200px;
}

a{
  text-decoration: none;
}
//清除浮动
@mixin clearfix{
  &:after{
    content:"";
    display:table;
    clear:both;
  }
}

ul,li{
  list-style: none;
}
header{
  width: 100%;
  min-width: 1200px;
  position: absolute;
  z-index: 3;
  top: 0;
  .logo{
    display: inline-block;
    height: auto;
    margin-left: 14%;
    span{
      display: inline-block;
      background: url("../../../common/img/hotel.png") no-repeat;
      width: 110px;
      height:90px;
      background-size: contain;
      margin: .5em .5em 0 0;
    }
  }
  nav{
    display: inline-block;
    margin-right: 7%;
    float:right;
    color: white;
    margin-top: 38px;
    vertical-align: top;
    li{
      position: relative;
      display: inline-block;
      box-sizing: border-box;
      margin-right: 35px;
      margin-left: 35px;
      padding-bottom: 5px;
      font-weight: lighter;
      font-size: 22px;
      a{
        text-decoration: none;
        color: white;
      }
      .borderStyle{
        position: absolute;
        z-index: -1;
        display: inline-block;
        height: 30px;
        box-sizing:border-box;
        border-bottom: 1px white solid;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
      .active{
        animation: borderanimation-show .5s linear;
        animation-fill-mode: forwards;
        border-color: #31c27c ;
      }
      .active + a {
        color: #31c27c;
      }
      @keyframes borderanimation-hide {
        from{
          width: 100%;
        }
        to{
          width: 0%;
        }
      }
      @keyframes borderanimation-show{
        from{
          width: 0%;
        }
        to{
          width: 100%;
        }
      }
      &:hover{
        .borderStyle{
          animation: borderanimation-show .5s linear;
          animation-fill-mode: forwards;
        }
      }
    }
  }
}

footer {
  width: 100%;
  background-color: #494949;
  .footer-container {
    width: 1200px;
    margin: 0 auto;
    ul {
      padding-top: 20px;
      text-align: center;
      li {
        display: inline-block;
        margin: 0 30px;
        padding-left: 60px;
        color: white;
        a {
          color: #fff;
          border-bottom: 1px solid #fff;
        }
      }
      li + li {
        border-left: 1px solid #fff;
      }
    }
    .copyright {
      color: #fff;
      text-align: center;
      margin-top: 30px;
      padding-bottom: 30px;
      span {
        margin-left: 30px;
      }
    }
  }
}