@font-face {
  font-family: 'iconfont';  /* project id 359582 */
  src: url('http://at.alicdn.com/t/font_w6chvborkn8kt9.eot');
  src: url('http://at.alicdn.com/t/font_w6chvborkn8kt9.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_w6chvborkn8kt9.woff') format('woff'),
  url('http://at.alicdn.com/t/font_w6chvborkn8kt9.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_w6chvborkn8kt9.svg#iconfont') format('svg');
}
.iconfont{
  font-family:iconfont;
  font-style:normal;
}

*{
  padding: 0;
  margin: 0;
}
html,body{
  width: 100%;
  height: 100%;
  font-family: '微软雅黑';
}

//清除浮动
@mixin clearfix{
  &:after{
    content:"";
    display:table;
    clear:both;
  }
}

ul,li{
  list-style: none;
}
header{
  width: 100%;
  min-width: 1200px;
  position: absolute;
  top: 0;
  background: rgba(0,0,0,0.6);

  .logo{
    width: 90px;
    height: auto;
    margin-left: 20%;
  }
  nav{
    display: inline-block;
    margin-left: 5%;
    margin-top: 25px;
    vertical-align: top;
    li{
      position: relative;
      display: inline-block;
      box-sizing: border-box;
      margin-right: 30px;
      padding-bottom: 5px;
      color: white;
      font-weight: lighter;
      font-size: 22px;
      .borderStyle{
        position: absolute;
        display: inline-block;
        height: 30px;
        box-sizing:border-box;
        border-bottom: 1px white solid;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
      .active{
        animation: borderanimation-show .5s linear;
        animation-fill-mode: forwards;
      }
      @keyframes borderanimation-hide {
        from{
          width: 100%;
        }
        to{
          width: 0%;
        }
      }
      @keyframes borderanimation-show{
        from{
          width: 0%;
        }
        to{
          width: 100%;
        }
      }
      &:hover{
        .borderStyle{
          animation: borderanimation .5s linear;
          animation-fill-mode: forwards;
        }
      }
    }
  }
}