@import "../../common/scss/hotel-header.scss";
//顶部轮播
.swiper-container {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  .banner-one, .banner-two, .banner-three {
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banner-one {
    background-image: url("../../common/img/banner-img1.jpg");
  }
  .banner-two {
    background-image: url("../../common/img/banner-img2.jpg");
  }
  .banner-three {
    background-image: url("../../common/img/banner-img3.jpg");
  }
}

//轮播下面展示部分
section.show {
  width: 1200px;
  margin: 0 auto;
  background: #f4f4f4;
  margin-top: 80px;
  @include clearfix;
  .title{
    font-size:35px;
    text-align: center;
    padding-top:30px;
  }
  .show-part {
    width: 340px;
    float: left;
    margin: 0 30px;
    padding: 60px 0px;
    .show-pic {
      height: 200px;
      border-radius: 5px;
      cursor: pointer;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        &:hover {
          transition: all 1s ease-in-out;
          transform: scale(1.2);
        }
      }
    }
    .show-intro {
      p {
        text-align: center;
        margin: 15px 0;
      }
    }
  }
}

//文字轮播部分
section.text-banner {
  width: 1200px;
  margin: 80px auto 80px auto;
  border-top: 1px dashed #000;
  .swiper-slide {
    h1 {
      text-align: center;
      margin: 30px 0px;
    }
    p {
      font-size: 18px;
      text-indent: 36px;
      line-height:36px;
    }
  }
}

//info信息部分
section.info {
  width: 1200px;
  margin: 50px auto;
  @include clearfix;
  .info-part {
    float: left;
    width: 360px;
    margin: 0 20px;
    @include clearfix;
    .left {
      float: left;
      margin: 30px;
      .icon {
        font-size: 30px;
      }
    }
    .right {
      float: left;
      h3 {
        margin: 10px;
      }
      p {
        margin: 10px;
      }
    }
  }

}

//介绍展示部分
section.introduction-container {
  width: 1200px;
  margin: 30px auto;
  .intro-top {
    position: relative;
    border: 1px solid #8d8d8d;
    border-right: none;
    margin: 50px 0;
    @include clearfix;
    .left {
      width: 600px;
      height: 370px;
      float: left;
      padding: 30px 85px 0px 65px;
      box-sizing: border-box;
      position: relative;
      .left-bg {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: url("../../common/img/banner-img1.jpg") no-repeat;
        opacity: 0.1;
        z-index: -1;
        background-size: cover;
      }
      h3 {
        color: #8e8685;
        text-align: center;
        margin: 30px 0;
      }
      p {
        font-size: 16px;
        text-indent: 32px;
        margin: 5px;
        line-height: 25px;
        color: #8d8d8d;
      }
    }
    .right {
      width: 580px;
      height: 370px;
      float: left;
      .intro-banner-one, .intro-banner-two, .intro-banner-three, .intro-banner-four, .intro-banner-five {
        background-repeat: no-repeat;
        background-size: cover;
      }
      .intro-banner-loading{      //懒加载
        background-image: url("../../common/img/intro-img1.jpg");
      }
      .intro-banner-one {
        background-image: url("../../common/img/intro-img1.jpg");
      }
      .intro-banner-two {
        background-image: url("../../common/img/intro-img2.jpg");
      }
      .intro-banner-three {
        background-image: url("../../common/img/intro-img3.jpg");
      }
      .intro-banner-four {
        background-image: url("../../common/img/intro-img4.jpg");
      }
      .intro-banner-five {
        background-image: url("../../common/img/intro-img5.jpg");
      }
    }
    .icon {
      display: inline-block;
      width: 25px;
      height: 25px;
      position: absolute;
      left: 0;
      top: 60px;
      background: #8e8685;
      text-align: center;
      line-height: 25px;
      color: #fff;
    }
  }
  .intro-bottom {
    @include clearfix;
    padding:40px 0;
    border-top:1px solid #b1b2b4;
    border-bottom:1px solid #b1b2b4;
    div {
      float:left;
      @include clearfix;
      .intro-sign {
        display: inline-block;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background: rgb(248,246,247);
        text-align: center;
        float:left;
        .iconfont {
          font-size: 30px;
          line-height:70px;
        }
      }
      .intro-text{
        width: 200px;
        float:left;
        margin:10px 0 0 30px;
        h4{
          margin-bottom:6px;
          padding-left: 20px;
        }
        span{
          color:#b1b2b4;
        }
      }
    }
  }
}

//尾部部分
