#ht-aboutUs{
  background: url("../../common/img/hotelFell-3.jpg");
  background-size: cover;
  background-style:no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
  .content{
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
    top: 50%;
    transform: translate(0,50%);
    text-align: center;
    background: rgba(0,0,0,0.6);
    color: white;
  }
}